<!DOCTYPE html>
<html
		lang="ko"
		xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<!--header area-->
<head th:fragment="header">
	<meta charset="UTF-8">
	<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	>
	<link
			rel="stylesheet"
			href="https://use.fontawesome.com/releases/v5.0.6/css/all.css"
	>
</head>
<body>
<div th:fragment="nav">
	<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
	 <div class="container-fluid">
		 <div class="collapse navbar-collapse" id="navbarSupportedContent">
			 <ul class="navbar-nav me-auto mb-2 mb-lg-0">
				 <li class="nav-item">
					<a class="nav-link active" th:href="@{/}">홈</a>
				 </li>
				 <li class="nav-item">
					 <a class="nav-link active" th:href="@{/account/login}">로그인</a>
				 </li>
				 <li class="nav-item">
					 <a class="nav-link active" th:href="@{/account/join}">회원가입</a>
				 </li>
			 </ul>
		 </div>
	 </div>
	</nav>
</div>
</body>
</html>